html {
font-size: 62.5%;
}
body {
width: 100%;
font-size:1.2rem;
}

#curvyButts {
  position:relative;
  height:40rem;
  width:30rem;
  background-color: #0094b3;
  border: 0.1rem solid #0094b3;
  overflow:hidden;
}

#curvyButts .wrapper {
  position:absolute;
  left:0;
  right:0;
  bottom:2rem;
  top:-13rem;
  background-color: #fff;
  border-radius: 13rem/4rem;
  overflow:auto;
}

#curvyButts .wrapper .content {
  position:absolute;
  top:13rem;
  left:0;
  right:0;
  bottom:2rem;
  margin:2rem;
  overflow:auto;
}

#curvyButts .footer {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:4rem;
  background-color: #0094b3;
  background-image:
    linear-gradient(
      to bottom, 
      #0094b3, 
      #00D4FF, 
      #0094b3
    );
}
