#curvyButts {
  position:relative;
  height:400px;
  width:300px;
  background-color: #0094b3;
  border: 1px solid #0094b3;
  overflow:hidden;
}

.curvyContent {
  position:absolute;
  left:0px;
  right:0px;
  bottom:20px;
  top:-130px;
  padding-top:130px;
  background-color: #fff;
  border-radius: 130px/39px;
  overflow:auto;
}

.curvyFooter {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:39px;
  background-color: #0094b3;
  background-image:
    linear-gradient(
      to bottom, 
      #0094b3, 
      #00D4FF, 
      #0094b3
    );
}
